.body{
    width: 100%;
    margin: 0;
    padding: 0;
} 

.book-item {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    

}

.book-item img {
    width: 100px;
}
.heading{
      margin-top: 50px;

}
.navbar{
    width: 100%;
    height: auto;

}
.head{
    background-image: url("https://media.istockphoto.com/id/1126130554/photo/row-of-old-books-with-colorful-covers-on-pastel-blue-background-education-concept-mock-up-for.jpg?s=612x612&w=0&k=20&c=8exxJl1Q-VaAYiRpReGn0ZJ15ezWigdvea9tp_3JnIw=");
    background-position: bottom;
    width: 100%;

}


@media (max-width: 768px) {
    .book-item {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .book-item {
        width: 100%;
    }
}
